DATABASE_URL="postgresql://postgres:postgres@localhost:5432/precioradar"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/precioradar"

NEXT_PUBLIC_SUPABASE_URL="https://tu-proyecto.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SUPABASE_SERVICE_ROLE_KEY=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL="PrecioRadar <alertas@tu-dominio.com>"

CRON_SECRET=""

MERCADOLIBRE_CLIENT_ID=""
MERCADOLIBRE_CLIENT_SECRET=""
MERCADOLIBRE_REDIRECT_URI=""
MERCADOLIBRE_ACCESS_TOKEN=""
MERCADOLIBRE_SITE_ID="MLA"
